/*-------------EMPIEZAN FLIPPING CARDS DE OPORTUNIDADES------*/
@import url("https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Arvo");
/*ESTILOS BODY*/
#body {
  max-width: 100%;
  max-height: 100%;
  max-block-size: 0%;
}

/*ESTILOS FOOTER*/
#footer {
  width: 100%;
  text-align: center;
  height: 150px;
  background-color: rgb(245, 237, 225);
  position: absolute;
}

.footerAutor {
  text-align: center;
  height: fit-content;
}

.footerLogo {
  width: 55px;
  height: 55px;
  text-align: right;
}

/*ESTILOS HEADER */
#header {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  text-align: center;
  position: static;
}

#nav {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.navLogo {
  width: 2px;
}

.icon-home {
  background-size: 2px;
  width: 35px;
  height: 35px;
}

#nav ul {
  margin: 0 auto;
  position: relative;
}

/*---------------- INICIA MENU NAV egador---------------- */
.navbar-nav .nav-link {
  color: #000 !important;
  padding: 2% 0rem !important;
  border-color: transparent;
  margin-inline-start: 2rem;
  transition: none;
}

.navbar .navbar-toggler:focus {
  box-shadow: inset;
}

.navbar-nav .nav-link.active,
.border-red {
  border-bottom: 4px solid #1cb798;
}

.navbar-nav .nav-link:hover {
  border-bottom: 3px solid #b7a81c;
}

/*---------------- TERMINA  MENU NAV egador---------------- */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

ul {
  display: inline-block;
}

li {
  list-style: none;
  display: inline-block;
  text-decoration-line: inherit;
}

li {
  list-style: none;
  display: inline-block;
  text-decoration-line: inherit;
}

/*ESTILOS MAIN*/
#main {
  max: width 1000px;
  height: 1000px;
  margin: 0 auto;
  padding-top: 12px;
  text-align: center;
}

.navbar {
  background: rgb(142, 185, 178) !important;
}

.container-fluid {
  color: rgb(16, 113, 113) !important;
  font-weight: bold;
  padding-left: 33%;
}

.navbar {
  width: 100%;
  text-align: center;
  position: relative;
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");
  padding: 100;
  margin: 100;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: bisque;
}

.container {
  margin: 30px auto;
}

/*PAGES*/
#slider-text {
  padding-top: 40px;
  display: block;
}

#slider-text .col-md-6 {
  overflow: scroll;
}

#slider-text h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}

#slider-text h2::after {
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
}

#itemslider h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}

#itemslider h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}

#itemslider h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 10px;
  margin: 2px auto 5px;
}

.badge {
  background: #b20c0c;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 31px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #FFF;
  box-shadow: 0 0 0 1px #b20c0c;
  top: 5px;
  right: 25%;
}

#slider-control img {
  padding-top: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  #slider-control img {
    padding-top: 70px;
    margin: 0 auto;
  }
}
.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}

.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}

.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}

@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6 {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
/*---------------- INICIA PRODCUTOS cont---------------- */
.container .product-item {
  min-height: 450px;
  border: none;
  overflow: hidden;
  position: relative;
  border-radius: 0;
  margin: 0%;
}

.container .product-item .product {
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.container .product-item .product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .product-item .product .icons .icon {
  width: 40px;
  height: 40px;
  background-color: #caba84;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease;
  transform: rotate(180deg);
  cursor: pointer;
}

.container .product-item .product .icons .icon:hover {
  background-color: #22b5b5;
  color: #fff;
}

.container .product-item .product .icons .icon:nth-last-of-type(3) {
  transition-delay: 0.2s;
}

.container .product-item .product .icons .icon:nth-last-of-type(2) {
  transition-delay: 0.15s;
}

.container .product-item .product .icons .icon:nth-last-of-type(1) {
  transition-delay: 0.1s;
}

.container .product-item:hover .product .icons .icon {
  transform: translateY(-60px);
}

.container .product-item .tag {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 0 0.4rem;
}

.container .product-item .title {
  font-size: 0.95rem;
  letter-spacing: 0.5px;
}

.container .product-item .fa-star {
  font-size: 0.65rem;
  color: goldenrod;
}

.container .product-item .price {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.bg-green {
  background-color: #208f20 !important;
  color: #fff;
}

.bg-black {
  background-color: #1f1d1d;
  color: #fff;
}

.bg-red {
  background-color: #bb3535;
  color: #fff;
}

/*---------------- TERMINS MENU NAV egador----------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 48.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  box-sizing: border-box;
}

.grids {
  max-width: 136rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.card-one {
  grid-column: 1/4;
}

.card-two {
  grid-column: 1/4;
}

.card-three {
  grid-column: 1/4;
}

.card-four {
  grid-column: 1/4;
}

.card-five {
  grid-column: 1/4;
}

.card-six {
  grid-column: 1/4;
}

.card-seven {
  grid-column: 1/4;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 25rem;
  width: 100%;
  transition: all ease-in-out 400ms;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card:active {
  transform: translateY(-1px);
}

.card__side {
  transition: all 0.8s ease;
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 25rem;
  width: 100%;
  backface-visibility: hidden;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

.card__side--front {
  background-color: #2196f3;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__side--back {
  background-color: #303f9f;
  transform: rotateY(180deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.showGreen {
  transform: rotateY(-180deg);
}

.showRed {
  transform: rotateY(0);
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.text-box-top {
  font-size: 2.2rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4235294118);
  font-weight: 400;
}

.text-box-middle {
  font-size: 5.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4235294118);
}

.text-box-lower {
  font-size: 2rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4235294118);
  font-weight: 400;
}

.heading {
  transition: all 0.6s linear;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

#front-1 {
  background-image: linear-gradient(rgba(175, 125, 142, 0.6), rgba(206, 175, 175, 0.6)), url("https://m.media-amazon.com/images/I/61ECPpsOTcS._AC_UF894,1000_QL80_.jpg");
}

#front-2 {
  background-image: linear-gradient(rgba(130, 214, 240, 0.767), rgba(54, 176, 246, 0.9)), url("https://media.admagazine.com/photos/6532c06f1b48004d16e76124/4:3/w_2664,h_1998,c_limit/cortinas-en-casa.jpg");
}

#front-3 {
  background-image: linear-gradient(rgba(109, 110, 161, 0.9), rgba(178, 178, 220, 0.9)), url("https://m.media-amazon.com/images/I/81F1+x30vxL._AC_SL1200_.jpg");
}

#front-4 {
  background-image: linear-gradient(rgba(74, 190, 122, 0.767), rgba(6, 66, 48, 0.9)), url("https://m.media-amazon.com/images/I/81WUBTGGhLL._AC_UF894,1000_QL80_.jpg");
}

#front-5 {
  background-image: linear-gradient(rgba(230, 226, 207, 0.767), rgba(238, 210, 100, 0.9)), url("https://m.media-amazon.com/images/I/719YQnirf-L.jpg");
}

#front-6 {
  background-image: linear-gradient(rgba(214, 21, 86, 0.801), rgba(20, 20, 20, 0.6)), url("https://m.media-amazon.com/images/I/61jKW0KJP-L.jpg");
}

#front-7 {
  background-image: linear-gradient(rgba(31, 136, 168, 0.767), rgba(14, 46, 65, 0.9)), url("https://www.decoora.com/wp-content/uploads/2019/11/lampara-pie-salon-tripode.jpg");
}

/* Back */
#back-1 {
  background-image: linear-gradient(rgba(248, 148, 181, 0.6), rgba(241, 212, 212, 0.6)), url("https://m.media-amazon.com/images/I/61ECPpsOTcS._AC_UF894,1000_QL80_.jpg");
}

#back-2 {
  background-image: linear-gradient(rgba(31, 136, 168, 0.767), rgba(14, 46, 65, 0.9)), url("https://media.admagazine.com/photos/6532c06f1b48004d16e76124/4:3/w_2664,h_1998,c_limit/cortinas-en-casa.jpg");
}

#back-3 {
  background-image: linear-gradient(rgba(148, 148, 235, 0.9), rgba(192, 192, 226, 0.9)), url("https://m.media-amazon.com/images/I/81F1+x30vxL._AC_SL1200_.jpg");
}

#back-4 {
  background-image: linear-gradient(rgba(74, 190, 122, 0.767), rgba(6, 66, 48, 0.9)), url("https://m.media-amazon.com/images/I/81WUBTGGhLL._AC_UF894,1000_QL80_.jpg");
}

#back-5 {
  background-image: linear-gradient(rgba(230, 226, 207, 0.767), rgba(238, 210, 100, 0.9)), url("https://m.media-amazon.com/images/I/719YQnirf-L.jpg");
}

#back-6 {
  background-image: linear-gradient(rgba(214, 21, 86, 0.801), rgba(20, 20, 20, 0.6)), url("https://content.revistainteriores.es/medio/2023/12/12/velas-aromaticas-artesanales_12a5b249_231212162955_1280x794.jpg");
}

#back-7 {
  background-image: linear-gradient(rgba(31, 136, 168, 0.767), rgba(14, 46, 65, 0.9)), url("https://www.decoora.com/wp-content/uploads/2019/11/lampara-pie-salon-tripode.jpg");
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
  .grids {
    max-width: 136rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }
  .card-one {
    grid-column: 1/3;
  }
  .card-two {
    grid-column: 3/4;
  }
  .card-three {
    grid-column: 1/2;
  }
  .card-four {
    grid-column: 2/2;
  }
  .card-five {
    grid-column: 3/4;
  }
  .card-six {
    grid-column: 1/2;
  }
  .card-seven {
    grid-column: 2/4;
  }
}
/*-------------TERMINAN FLIPPING CARDS DE OPORTUNIDADES------*/
body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f5f4f4;
  font-size: 11px;
  font-family: "Arvo", monospace;
}
@supports (display: grid) {
  body,
  html {
    display: block;
  }
}

.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
}
@supports (display: grid) {
  .message {
    display: none;
  }
}

.section {
  display: none;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 4rem;
  }
}
@supports (display: grid) {
  .section {
    display: block;
  }
}

h1 {
  font-size: 2rem;
  margin: 0 0 1.5em;
}

.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}

.it {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background: url("https://services.meteored.com/img/article/por-que-el-mar-es-de-color-azul-1685269880797_1280.jpeg");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
}
.it:nth-of-type(2n) {
  background-image: url("https://content.elmueble.com/medio/2015/07/08/salon_veraniego_con_detalles_en_azul_1280x1156.jpg");
}
.it:nth-of-type(3n) {
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/salon-azul-zocalo-1621422785.jpg?crop=1xw:1xh;center,top&resize=980:*");
}
.it:nth-of-type(4n) {
  background-image: url("https://i.pinimg.com/originals/a8/e4/6f/a8e46f985529102c1c0110194428f69e.jpg");
}
.it:nth-of-type(5n) {
  background-image: url("https://content.elmueble.com/medio/2021/06/07/00407813b_e30b0d2e_1883x2000.jpg");
}
.it:nth-of-type(6n) {
  background-image: url("https://www.zubludiving.com/images/Mexico/Yucatan-Peninsula/Tulum-Akumal-Riviera-Maya/Tulum-Akumal-Riviera-Maya-Mexico-Diving-3.jpg");
}
.it:nth-of-type(7n) {
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/redoute-dma302-ggs084-ghz731-ghz729-ghz730-01-1619103410.jpg");
}
.it:nth-of-type(8n) {
  background-image: url("https://content.elmueble.com/medio/2021/10/07/00481965-crea-un-rincon-exclusivo-de-plantas_88fed0ef_1335x2000.jpg");
}
.it:nth-of-type(9n) {
  background-image: url("https://vader-prod.s3.amazonaws.com/1723120140-salon-comedor-terracota-portavelas-el-corte-ingles-66b4b9e18ec34.jpg");
}
.it:nth-of-type(10n) {
  background-image: url("https://siamodesign.com/wp-content/uploads/2024/03/18-Terraza-scaled.webp");
}
.it:nth-of-type(11n) {
  background-image: url("https://www.kukyflor.com/blog/wp-content/uploads/2018/04/6820517-tulip-fields.jpg");
}
.it:nth-of-type(12n) {
  background-image: url("https://m.media-amazon.com/images/I/713FYFGXc-S._AC_UF894,1000_QL80_.jpg");
}
.it:nth-of-type(13n) {
  background-image: url("https://content.elmueble.com/medio/2023/07/24/distribuidor-en-color-lila_00000000_230724153534_1000x1450.jpg");
}
.it:nth-of-type(14n) {
  background-image: url("https://parkemueble.com/wp-content/uploads/2024/03/gingerbreads-march-8-bright-kitchen-with-flowers-1120x747.jpg");
}
.it:nth-of-type(15n) {
  background-image: url("https://i5.walmartimages.com.mx/mg/gm/3pp/asr/468287b2-f9b9-4a0f-8283-53ec0d112c3f.47d24b01fd79acb783a4b557ef2c4f90.jpeg");
}
.it:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
.it:hover {
  transform: scale(1.05);
}
.it:hover:after {
  opacity: 0;
}
.it--medium {
  grid-row-end: span 2;
}
.it--large {
  grid-row-end: span 3;
}
.it--full {
  grid-column-end: auto;
}
@media screen and (min-width: 768px) {
  .it--full {
    grid-column: 1/-1;
    grid-row-end: span 2;
  }
}
.it__details {
  position: relative;
  z-index: 1;
  padding: 15px;
  color: #444;
  background: #fff;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: #828282;
}
.it__details:before {
  content: counter(item-counter);
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 0.5em;
  color: #444;
}

/*# sourceMappingURL=style.css.map */
