
/*ESTILOS FOOTER*/
#footer {width: 100%;
    text-align: center;
    height: 150px;
    background-color:rgb(245, 237, 225) ;
    position:absolute;
    }
    
    .footerAutor {
        text-align: center;  height: fit-content; 
    }
.footerLogo {width: 55px;
    height: 55px;
    text-align: right;

}
